<span>
  {% render 'products' %}
</span>

{% schema %}
{
  "name": "Recommended Products",
  "target": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Recommended Products"
    }
  ]
}
{% endschema %}

